* {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
}

.App{
  background: #f9f9f9;
}

#home{
  overflow:hidden;
}

#home .wave {
  height: 84vh;
  z-index: 5;
}

.wave-container{
  left: 0;
  right: 0;
  top: -5px;
  height: 84vh;
  display: flex;
  z-index: -1;
  transform: scale(1.05) rotate(180deg);
}

#home,
#experience,
#contact,
#details, #projects {
  position: relative;
  width: 100%;
  z-index: 0;
}

#home, #experience, #contact{
  background: #f9f9f9;
}

#home,
#contact {
  color: white;
}

.intro h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
.intro h3 {
  font-size: 1.8rem;
}

.intro {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.intro h1,
.intro h3 {
  line-height: 1.7;
  letter-spacing: 3px;
}

.highlight {
  font-style: normal;
  color: #ed003f;
}

h1 .highlight{
  font-weight: 600;
}

#action-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
  letter-spacing: 3px;
}


#action-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #ff0066;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.3s ease-in;
}

#action-btn:hover::before {
  right: 0;
}


/* NAVBAR */
#nav-btn {
  position: relative;
  background: none;
  z-index: 1;
}

#nav-btn a{
  letter-spacing: 3px;
}

#nav-btn::before {
  content: "";
  position: absolute;
  background: #ff0066;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.3s ease-in;
}

#nav-btn:hover::before {
  right: 0;
}

#navbar {
  position: sticky;
  z-index: 3;
  background: #140a42;
  padding: 0 1%;
  margin: 0
}

#navbar img{
  transform:scale(0.8)
}

#navbar .navbar-toggler{
  border-color: #ed00358f !important;
}

#navbar .navbar-toggler-icon {
  filter: invert(15%) sepia(82%) saturate(4795%) hue-rotate(335deg)
  brightness(86%) contrast(118%) !important;
}

.navbar{
  color:transparent;
  background: #140a42;
}
#root #navbar .nav-link a {
  color: rgba(255, 255, 255, 0.761);
  text-decoration:none;
  letter-spacing: 3px;
}

#navbar #brand,
#navbar .nav-link a:hover {
  color: #ed003f !important;
  transition: 0.5s;
  text-decoration: none;
}

.active {
  color: #ed003f !important;
}

/*SOCIALS*/

.socials{
  background-color: #140a42;
  width: 100%;
  margin-bottom:0;
  list-style-type: none;
  padding-bottom: 30px;
  text-align: center;
}
.socials li{
  display: inline-block;
}
.socials a i{
  margin-left: 15px;
  margin-right: 15px;
  color: #ed003fde;
  transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
}

.socials a i:hover, #projects a i:hover{
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}


/*CONTACT*/

#contact .wave {
  height: 90vh;
}

#contact {
  height: 90vh;
  position: relative;
  display: block;
  overflow-y: hidden;
}

#contact form {
  text-align: center;
  margin: 0;
  position: absolute;
  width: min(350px, 55%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 100px;
  padding-bottom: 10vh;
}

#contact h1{
  font-size: 2.2rem;
  letter-spacing: 3px;
}

#contact input,
#contact textarea {
  border: 1px solid rgba(252, 252, 252, 0.651);
  background: rgba(252, 252, 252, 0.1);
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: white;
  letter-spacing: 3px;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

#contact button {
  padding: 10px 15px;
  color: #ed003f;
  border-color: #ed003f;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin: 0 auto 10px auto;
}

.submitted {
  color: #ed003f;
  margin-bottom: 10px;
}

#action-btn:hover{
  color: white;
}


/*EXPERIENCE*/


.heading{
  overflow: hidden;
  text-align: center;
  margin: 50px;
  color:#2e1f70;
  letter-spacing: 3px;
}
.heading > span{
 position: relative;
 display: inline-block;
}
.heading > span:before, .heading > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 1px solid;
 width: min(120px, 58%);
 margin: 0 20px;
}
.heading > span:before{
 right: 100%;
}
.heading > span:after{
 left: 100%;
}

.experience-cards{
  padding: 10px;
}

.exp-card{
  position: relative;
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 2px 12px 10px rgb(96 96 97 / 20%);
  padding: 10px;
  border-radius: 25px;
  height: min-content;
  min-height: 370px;
  transition: transform .4s;
  display: flex;
  align-items: center;
}
.exp-card:hover{
  transform: scale(1.01);
}

.exp-img{
  position:absolute;
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 20px;
  transform: translateX(-80px);
  object-fit: cover;
  overflow: hidden;
  box-shadow: 4px 10px 20px 4px rgba(34, 35, 58, 0.2);
}
.exp-date{
  font-size: 1rem;
  color:#696874;
  font-weight: 500;
}
.exp-title{
  font-size: 18px;
  color: black;
}
.exp-desc{
  /* margin: 25px 0; */
  padding:20px 0;
  color: #4e4a67;
}

.exp-role, .proj-title{
  font-size: 24px;
  font-weight: 700;
  color: #2e1f70;
  margin-bottom: 12px;
}

.langs{
  margin-top: 16px;
}

.lang{
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background:#2e1f70;
  color:white;
  border-radius: 10px;
  display:inline-block;
}

.exp-card-body{
  display:block;
  margin-left: 240px;
  margin-top: 10px;
}

@media screen and (max-width: 1012px) {
  .exp-card{
    min-height: 400px;
    margin: 20px auto;
    margin-left:30px;
  }
  .exp-img{
    margin-left: 20px;
  }
}

@media screen and (max-width: 754px) {
  .exp-card{
    min-height: 500px;
    height: auto;
    margin: 180px auto;
    padding: 20px;
  }
  .exp-img{
    /* transform: translateY(-100%); */
    top: -100px;
    left: 25%;
    height: 250px;
    width: 80%;
  }
  .exp-card-body{
    margin-top: 150px;
    margin-left: 0;
  }
}

@media screen and (max-width: 575px){
  #navbar{
    text-align: center;
  }
  #nav-btn{
    width: 50%;
    left:25%;
  }
}

@media screen and (max-width: 820px){
  .exp-desc, .proj-desc{
    padding: 10px 0;
  }
  .exp-card{
    transform: scale(0.95);
  }
  .exp-card:hover{
    transform: scale(0.97);
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .exp-card{
    height: 350px;
  }
  .exp-img{
    height: 270px;
  }
}


/*PROJECTS*/

#projects{
  padding:30px 10%;
}

#projects .heading{
  margin-bottom:70px;
}

.proj-card{
  background: #fff;
  display:block;
  box-shadow: 2px 12px 10px rgba(96, 96, 97, 0.2);
  height: auto;
  margin: 120px auto;
  border-radius: 15px;
  transition: transform .4s;
  position: relative;
  padding: 25px 0;
  transition: transform .4s;
}

.proj-card:hover{
  transform: scale(1.015)
}

.proj-card-body{
  display:block;
  margin-top: 150px;
  margin-left: 20px;
}

.proj-img{
  transform: translateY(-50%);
  width: 80%;
  margin-left: 20px;
  position:absolute;
  height: 240px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 4px 10px 20px 4px rgba(34, 35, 58, 0.2);
  margin-left: 10%;
  border:1px solid #d5d3d3;
}

@media screen and (max-width: 976px) {
  .proj-img{
    height: 300px;
  }
}

@media screen and (max-width: 754px) {
  .proj-img{
    height: 250px;
  }
}

@media (min-width: 1600px){
  #projects{
    padding: 30px 8%;
  }
  .proj-col{
    flex: 0 0 33% !important;
    max-width: 33% !important;
  }
}

.proj-type{
  font-weight: 500;
  color: #696874;
}

#projects a i{
  color:#ed003fde;
  margin-right: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

/*SCROLL TO TOP*/
.scrollToTop{
  position: fixed;
  bottom: 4%;
  right: 3%;
  border-radius: 50%;
  z-index: 5;
}
.scrollBtn{
  animation: fadeIn 0.9s;
  transition-duration: 0.3s;
  transition-property: transform;
}
.scrollBtn:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 974px) {
  .intro {
    width: 96%;
    padding: 8%;
  }
  .intro h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .intro h3{
    font-size: 1.5rem;
  }
  #contact h1{
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 663px) {
  .intro h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .intro h3 {
    font-size: 1.1rem;
  }
  .experience-cards {
    padding: 0 5%;
  }
}

